---
name: Build and Release PDF

on:
  pull_request_target:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build-and-release-pdf:
    runs-on: ubuntu-latest
    container: ghcr.io/smkwlab/texlive-ja-textlint:2025f
    steps:
      - uses: smkwlab/latex-release-action@v2.3.0
        with:
          files: sotsuron, gaiyou, thesis, abstract
