---
name: Build and Release PDF

on:
  pull_request:
  push:
    tags:
      - '*'

jobs:
  build:
    uses: smkwlab/.github/.github/workflows/latex-build.yml@main
    with:
      files: "sotsuron, gaiyou, thesis, abstract"
